<form action="/edit/{{task._id}}" method="POST"> <!--Lo escribo hacia donde quiero que lo envie. Lo envio a la ruta edit pero con el metodo post-->
    <!--Concateno ese id. Porque es lo que mongo debe de recibir, al ser su id especial-->
    <input type="text" name="title" placeholder="Title" value="{{task.title}}">
    <!--El value se coloca diferente en text area. De la tarea que recibo muentrp el totilo -->
    <textarea name="description" rows="3" placeholder="Add a Description" >{{task.description}}</textarea>
    </textarea>
    <button>Update</button>
</form>