<div class="container">
    <div class="row">
        <div class="col-md-5">
            {{> tasks/taskForm}} <!--//Aqui importo los archivos-->
        </div>
        <div class="col-md-7">
            {{> tasks/taskTable}} <!--//Aqui importo los archivos-->
        </div>
    </div>
</div>


<!---->
<!---->
<!---->
<!---->